<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Dashboard | Geoguesser</title>
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="Images/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="Images/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="Images/favicon-16x16.png"
    />
    <link rel="manifest" href="Images/site.webmanifest" />
    <script src="https://cdn.tailwindcss.com/"></script>
    <link rel="stylesheet" href="styles.css" />
    <link
      rel="stylesheet"
      href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
    />
    <link rel="stylesheet" type="text/css" href="styles.css" />
    <script src="https://api.mapbox.com/mapbox-gl-js/v2.6.1/mapbox-gl.js"></script>
    <link
      href="https://api.mapbox.com/mapbox-gl-js/v2.6.1/mapbox-gl.css"
      rel="stylesheet"
    />
  </head>
  <body class="bg-violet-500">
    <div class="container items-center mx-auto my-20">
      <h1
        style="
          font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',
            Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue',
            sans-serif;
        "
        class="text-4xl font-bold"
      >
        Welcome, <%= user.email %>!
      </h1>
      <div class="flex justify-center items-center">
        <div class="m-5">
          <button
            class="bg-yellow-500 flex-item rounded text-l mx-auto p-3 hover:bg-orange-300"
          >
            <a href="/leaderboard" class="no-underline">Leaderboard</a>
          </button>
        </div>
        <div class="m-5">
          <form action="/logout" method="post" class="flex-item">
            <button
              class="bg-red-500 rounded text-l mx-auto p-3 hover:bg-orange-300"
              type="submit"
            >
              Logout
            </button>
          </form>
        </div>
      </div>
      <div class="game-area mt-2">
        <h1 class="text-4xl font-bold">Guess the Location</h1>
        <div
          class="flex justify-center items-center bg-indigo-300 m-2 p-2 rounded"
        >
          <img
            class="m-5 object-contain h-100 w-100"
            src="Images\<%= img_url %>"
            id="questionImage"
            alt="Game Image"
          />
        </div>
        <div class="flex justify-center items-center">
          <div id="guessInput" class="bg-gray-100 py-3 text-2xl px-14 rounded">
            Tap a location in the map to select...
          </div>
        </div>

        <div class="grid grid-cols-3">
          <div class="mx-auto">
            <button
              class="my-6 text-xl"
              id="showMap"
              onclick="openLocationPicker()"
            >
              <span class="my-auto" style="font-weight: bold">
                <svg
                  class="my-3 mx-auto"
                  fill="#ffffff"
                  height="32px"
                  width="32px"
                  version="1.1"
                  xmlns="http://www.w3.org/2000/svg"
                  xmlns:xlink="http://www.w3.org/1999/xlink"
                  viewBox="0 0 297.00 297.00"
                  xml:space="preserve"
                  stroke="#ffffff"
                  stroke-width="0.00297"
                >
                  <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                  <g
                    id="SVGRepo_tracerCarrier"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  ></g>
                  <g id="SVGRepo_iconCarrier">
                    <g>
                      <path
                        d="M148.5,0C87.43,0,37.747,49.703,37.747,110.797c0,91.026,99.729,179.905,103.976,183.645 c1.936,1.705,4.356,2.559,6.777,2.559c2.421,0,4.841-0.853,6.778-2.559c4.245-3.739,103.975-92.618,103.975-183.645 C259.253,49.703,209.57,0,148.5,0z M148.5,272.689c-22.049-21.366-90.243-93.029-90.243-161.892 c0-49.784,40.483-90.287,90.243-90.287s90.243,40.503,90.243,90.287C238.743,179.659,170.549,251.322,148.5,272.689z"
                      ></path>
                      <path
                        d="M148.5,59.183c-28.273,0-51.274,23.154-51.274,51.614c0,28.461,23.001,51.614,51.274,51.614 c28.273,0,51.274-23.153,51.274-51.614C199.774,82.337,176.773,59.183,148.5,59.183z M148.5,141.901 c-16.964,0-30.765-13.953-30.765-31.104c0-17.15,13.801-31.104,30.765-31.104c16.964,0,30.765,13.953,30.765,31.104 C179.265,127.948,165.464,141.901,148.5,141.901z"
                      ></path>
                    </g>
                  </g>
                </svg>
                Show Street View Map
              </span>
            </button>
          </div>
          <div class="mx-auto">
            <button
              class="my-6 text-xl"
              id="showMap"
              onclick="openLocationPicker2()"
            >
              <span class="my-auto" style="font-weight: bold">
                <svg
                  class="my-3 mx-auto"
                  fill="#ffffff"
                  height="32px"
                  width="32px"
                  version="1.1"
                  xmlns="http://www.w3.org/2000/svg"
                  xmlns:xlink="http://www.w3.org/1999/xlink"
                  viewBox="0 0 297.00 297.00"
                  xml:space="preserve"
                  stroke="#ffffff"
                  stroke-width="0.00297"
                >
                  <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                  <g
                    id="SVGRepo_tracerCarrier"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  ></g>
                  <g id="SVGRepo_iconCarrier">
                    <g>
                      <path
                        d="M148.5,0C87.43,0,37.747,49.703,37.747,110.797c0,91.026,99.729,179.905,103.976,183.645 c1.936,1.705,4.356,2.559,6.777,2.559c2.421,0,4.841-0.853,6.778-2.559c4.245-3.739,103.975-92.618,103.975-183.645 C259.253,49.703,209.57,0,148.5,0z M148.5,272.689c-22.049-21.366-90.243-93.029-90.243-161.892 c0-49.784,40.483-90.287,90.243-90.287s90.243,40.503,90.243,90.287C238.743,179.659,170.549,251.322,148.5,272.689z"
                      ></path>
                      <path
                        d="M148.5,59.183c-28.273,0-51.274,23.154-51.274,51.614c0,28.461,23.001,51.614,51.274,51.614 c28.273,0,51.274-23.153,51.274-51.614C199.774,82.337,176.773,59.183,148.5,59.183z M148.5,141.901 c-16.964,0-30.765-13.953-30.765-31.104c0-17.15,13.801-31.104,30.765-31.104c16.964,0,30.765,13.953,30.765,31.104 C179.265,127.948,165.464,141.901,148.5,141.901z"
                      ></path>
                    </g>
                  </g>
                </svg>
                Show Satellite Map
              </span>
            </button>
          </div>

          <div class="mx-auto my-auto">
            <button
              class="my-6 py-auto h-20"
              id="submitGuess"
              onclick="submitLocation(<%= lat %>, <%= long %>)"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                class="w-6 h-6"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M4.5 12h15m0 0l-6.75-6.75M19.5 12l-6.75 6.75"
                ></path>
              </svg>
              <div class="text">Submit Guess!</div>
            </button>
          </div>
        </div>
        <div id="locationPicker" class=""></div>
        <p id="result"></p>
      </div>

      <div
        id="map"
        class="flex justify-center items-center m-12 p-7"
        style="height: 800px"
      ></div>
    </div>

    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
    <script src="scripts.js"></script>
  </body>
</html>
