/* public/styles.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, sans-serif;
  margin: 0;
  background-color: rgb(34, 34, 34);
  color:white;
  padding: 0;
}

h1 {
  text-align: center;
}

#map {
  height: 400px;
  margin-bottom: 20px;
}

input[type="text"] {
  width: 100%;
  padding: 10px;
}

.redbtn {
  border: none;
  outline: none;
  background-color: red;
  /* padding: 5px 10px; */
  font-size: 12px;
  font-weight: 700;
  color: #fff;
  border-radius: 5px;
  transition: all ease 0.1s;
  box-shadow: 0px 5px 0px 0px brown;
}

.redbtn:active {
  transform: translateY(5px);
  box-shadow: 0px 0px 0px 0px #a29bfe;
}

#submitGuess {
  background-color: #98fb98;
  font-weight: bold;
  color: black;
  width: 225px;
  height: 5em;
  border: #3654ff 0.2em solid;
  border-radius: 11px;
  text-align: right;
  transition: all 0.6s ease;
}

#guessInput {
  color: black;
}







.text {
  margin: 0 1.5em;
  font-size: 20px;
}





#showMap svg {
  color: black;
}

.toast {
  position: fixed;
  top: 25px;
  right: 30px;
  border-radius: 12px;
  background: black;
  color: white !important;
  padding: 20px 35px 20px 25px;
  box-shadow: 0 6px 20px -5px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transform: translateX(calc(100% + 30px));
  transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.35);
  z-index: 100000;
}

.toast.active {
  transform: translateX(0%);
}

.toast .toast-content {
  display: flex;
  align-items: center;
}

.toast-content .check {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 35px;
  min-width: 35px;
  background-color: white;
  color: #fff;
  font-size: 20px;
  border-radius: 50%;
}

.toast-content .message {
  display: flex;
  flex-direction: column;
  margin: 0 20px;
}

.message .text {
  font-size: 16px;
  font-weight: 400;
  color: white;
}

.message .text.text-1 {
  font-weight: 600;
  color: white;
}

.toast .close {
  position: absolute;
  top: 10px;
  right: 15px;
  padding: 5px;
  cursor: pointer;
  opacity: 0.7;
}

.toast .close:hover {
  opacity: 1;
}

.toast .progress {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 3px;
  width: 100%;

}

.toast .progress:before {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  height: 100%;
  width: 100%;
  background-color: #4070f4;
}

.progress.active:before {
  animation: progress 5s linear forwards;
}

@keyframes progress {
  100% {
    right: 100%;
  }
}


.navbar{
  display:flex;
  align-items:center;
  background-color: #fff;
  color: black;
  padding: 10px;
  position:fixed;
  top:0;
  width:100%;
  z-index:1;
  list-style:none;
}

.img_logo{
  width:"20px";
  height:"20px";

}

.navbar li{
  padding: 10px;
  cursor:pointer;
}

.component{
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content:center;
  margin-top:100px;
}