body{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Poppins;
    background-color: rgb(34, 34, 34);
    color: white;
}

div.table{
    display: flex;
    flex-direction: column;
    width:30rem;
    color:black;
}

#leaderboardBody{
    display: flex;
    flex-direction: column;
}

div.rows{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding:0.2rem;
    filter: drop-shadow(0px 0px 5px rgba(0,0,0,0.4));
    background-color: #fbbede;
    margin:0.4rem;
    height: 3rem;
    align-items: center;
    border-radius: 4px;
}

div.rows:nth-child(1){
    background-color: rgba(212,175,55,1);
}
div.rows:nth-child(2){
    background-color: rgba(229,228,226,1);
}
div.rows:nth-child(3){
    background-color: rgba(181,166,66,0.75);
}

@media only screen and (max-width: 500px){
    html, body{
      font-size: 13px;
    }
}

@media only screen and (max-width: 420px){
    html, body{
      font-size: 11px;
    }
}

.navbar{
    display:flex;
    align-items:center;
    background-color: #fff;
    color: black;
    padding: 10px;
    position:fixed;
    top:0;
    width:100%;
    z-index:1;
    list-style:none;
  }
  
  .img_logo{
    width:"20px";
    height:"20px";
  
  }
  
  .navbar li{
    padding: 10px;
    cursor:pointer;
  }
  
  .component{
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    margin-top:100px;
  }